.about__hero{
    padding: 100px 0;
    background:url(./img/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__hero__title{
    font-weight: 600;
    font-size: 96px;
    text-align: center;
    color:whitesmoke;
    span{
        color: white;
    }
}

.about__hero__text{
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 1);
}

.about__hero__btn{
    margin: 0 auto;
    display: block;
    font-weight: 400;
    font-size: 24px;
    border-radius: 10px;
    padding: 20px 60px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(5, 46, 75, 1);
    cursor: pointer;
}
