.about__form{
    padding: 100px 0;
}

.about__formcha{
    background: linear-gradient(rgba(255, 255, 255, 0.22),rgba(255, 255, 255, 0.07));
    padding: 100px;
    border-radius: 20px;
}

.about__form__title{
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 0.54);
    margin-bottom: 50px;
}

.about__form__inp{
    width: 985.61px;
    height: 77.16px;
    border-radius: 10px;
    border: 1px;
    padding: 30px 0 30px 50px;
    margin-bottom: 30px;
    outline: none;
}

.about__form__inp::placeholder{
    font-size: 30px;
}

.about__form__btn{
    margin: 0 auto;
    display: block;
    background: rgba(6, 26, 41, 1);
    color: white;
    padding: 30px 200px;
    border-radius: 10px;
    font-size: 28px;
    border: none;
    margin-top: 50px;
    
}

.px__inp{
        padding: 100px 0 100px 50px;
}