*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background:rgb(18, 18, 18) ;
}

header{
    padding: 20px 0;
}

.header__hero{
    background: rgba(200, 208, 200, 1);
}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    color: rgba(0, 0, 0, 1);
    line-height: 24.2px;

    span{
        font-weight: 300;
        font-size: 20px;
        
    }
}

.header__list{
    display: flex;
    list-style: none;
}

.header__item{
    margin-left: 50px;

    a{
        color: rgb(8, 82, 135);
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
    }
}

.hero{
    padding: 100px 0;
}

.hero__title{
    font-weight: 600;
    font-size: 96px;
    text-align: center;
    color: rgba(18, 18, 18, 1);
    span{
        color: #052e4b;
    }
}

.hero__text{
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero__btn{
    margin: 0 auto;
    display: block;
    font-weight: 400;
    font-size: 24px;
    border-radius: 10px;
    padding: 20px 60px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(5, 46, 75, 1);
    cursor: pointer;
}

.exprience{
    background: rgb(18, 18, 18);
    padding: 100px 0;
}

.exprience__title{
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 100px;

    span{
        color: rgba(105, 219, 255, 1);
    }
}

.experience__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.experience__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    background: rgba(9, 32, 49, 1);
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(105, 220, 255, 0.897);

    h3{
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        margin-bottom: 25px;
        text-align: center;
    }

    p{
        font-size: 15px;
        color: rgba(148, 137, 137, 1);
        text-align: center;
    }
}

.border__radius{
    border-top-left-radius: 50px;
}

.border__top__right{
    border-top-right-radius: 50px;
}

/* group */

.group{
    padding: 100px 0;
}
.group__title{
    text-align: center;
    font-size: 55px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 100px;

    span{
        color: rgba(105, 219, 255, 1)   ;
    }
}

.group__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group__div{
    border-radius: 20px;
    background: rgba(6, 26, 41, 1);
    width: 556px;
    height: 503px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.group__div__title{
    text-align: center;
    color: white;
    font-size: 50px;
}

.group__link{
    font-size: 28px;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.group__text{
    font-size: 32px;
    font-weight: 500;
    color: rgba(105, 219, 255, 1);
}

.group__text__two{
    padding-top: 50px;
    font-weight: 500;
    font-size: 36px;
    color: rgba(148, 137, 137, 1);
}

/* about */

.about
{
    padding: 100px 0;
}

.about__title{
    text-align: center;
    font-size: 55px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 100px;

    span{
        color: rgba(105, 219, 255, 1)   ;
    }
}
.spancha{
    width: 996px;
    height: 1px;
    background: white;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about__h2{
    font-size: 64px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    /* padding-bottom: 50px;/ */
}


.about__text{
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.padding{
    padding-top: 200px;
}

/* form */

.form{
    padding: 30px 70px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.22),rgba(255, 255, 255, 0.07));
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.form__title{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.54);
    margin-bottom: 30px;
}

.form__inp{
    width: 900px;
    height: 69.5px;
    border-radius: 10px;
    background: transparent;
    margin-top: 20px;
    border-color: rgba(255, 255, 255, 0.45);
    padding: 10px 0 10px 30px;
    color: white;
    font-size: 20px;
    outline: none;

}

.form__inp::placeholder{
    color: rgba(255, 255, 255, 0.45);
    font-size: 30px;
}

.inp__big{
    padding: 70px 0 70px 30px;
}

.form__btn{
    background: rgba(6, 26, 41, 1);
    margin: 0 auto;
    color: white;
    font-size: 28px;
    border-radius: 10px;
    padding: 20px 200px;
    border: none;
    margin-top: 70px;
    margin-bottom: 30px;
}

/* footer */
footer{
    background: rgba(13, 17, 23, 1);
    padding: 100px 0;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footer__div{
    margin-bottom: 100px;

    h2{
        font-size: 32px;
        font-weight: 600;
        color: white;
        margin-bottom: 30px;
    }
    p{
        font-size: 26px;
        color: white;
        margin-bottom: 15px;
    }
}

.footer__text{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center ;
}

.footer__logo{
    color: white;

    span{
        color: aqua;
    }
}