.contact__hero{
    background: url(./img/Contacthero.bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.services{
    padding: 100px 0;
}

.services__title{
    text-align: center;
    font-size: 55px;
    color: rgba(255, 255, 255, 1);
}

.services__div{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.services__left{
    width: 293px;
    height: 289px;
    background: rgba(0, 31, 139, 0.24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__right{
    h2{
        font-size: 40px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 50px;
    }

    p{
        font-size: 24px;
        color: rgba(148, 137, 137, 1);
    }
}